<% if user_signed_in? %>
<div class="jumbotran center">
	<h1>You are Signed in!! </h1>
</div>
<% else%>

<div class="jumbotron center">

<h1> Welcome to myApp!!</h1>

<p> This is a test project to learn different components of the rails framework, bootstrap and gems like Devise, simple_form etc</p>

<%= link_to "Sign up now!", new_user_registration_path, class: "btn btn-primary btn-large" %>

</div>
<%end%>





