<div class="jumbotron center">

<h1> Welcome to myApp!!</h1>

<p> This is a test project to learn different components of the rails framework and bootstrap</p>

<%= link_to "Sign up now!", "#", class: "btn btn-primary btn-large" %>

</div>





